.card-album-infos {
  border-radius: 6px;
  padding: 5px;
  height: 400px;
  margin-bottom: 20vh;
}

.card-album-infos img {
  width: 70%;
  margin-bottom: 10px;
  border-radius: 5px;

}

.card-album-infos h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 36.9px;
}

.card-album-infos h3 {
  font-size: 23px;
}

.song-box {
  list-style: none;
}

.favorite-button{
  color: black;
  background-color: white;
  border: none;
  font-size: 20px;
}

.favorite-button-selected{
  color: rgba(250,0,0, 1);
  background-color: white;
  border: none;
  font-size: 20px;
}

.song-box .music-section {
  border-top: 1px solid #E1E5EB;
}


#favorite-song-title {
  margin-bottom: 50px;
}